<%= form_with(model: gameurl, local: true) do |form| %>
  <% if gameurl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gameurl.errors.count, "error") %> prohibited this gameurl from being saved:</h2>

      <ul>
      <% gameurl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.number_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
