<% if game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form">
  <%= simple_form_for @game,validate: true, html: {class: 'form-group'} do |f| %>
    <%= f.input :Game_Title, label: 'Game Title:' %>
    <%= f.input :Release_Date, label: 'Release Date:', :order => [:day, :month, :year], :start_year => Time.now.year - 80, wrapper_html: { class: 'form-inline'} %>
    <%= f.input :Publisher, label: 'Publisher:' %>
    <%= f.input :Description, label: 'Description:' %>
    <%= f.input :image, label: 'Cover Image:' %>
    <%= f.button :submit %>
  <% end %>
</div>