<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @game.image.url(:medium) %>
        <div class="star-rating" data-score=<%= @avg_review %>></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><strong>Game Title:</strong></td>
              <td><%= @game.Game_Title %></td>
            </tr>
            <tr>
              <td><strong>Release date:</strong></td>
              <td><%= @game.Release_Date %></td>
            </tr>
            <tr>
              <td><strong>Description:</strong></td>
              <td><%= @game.Description %></td>
            </tr>
            <tr>
              <td><strong>Publisher:</strong></td>
              <td><%= @game.Publisher %></td>
            </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_game_review_path(@game) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @game.Game_Title %></h1>
        <% if @reviews.blank? %>
          <h3>No reviews, be the first one to review <%= @game.Game_Title %>!</h3>
          <%= link_to "Write Review", new_game_review_path(@game), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score=<%= review.rating %>></div>
              <p><%= review.comment %></p>
              <p>Hours Played <%= review.hours_played %> Hours</p>
              <%= link_to 'Edit', edit_game_review_path(@game.id,review) %> |
              <%= link_to 'Delete Review', game_review_path(@game.id, review), method: :delete, data: {confirm: 'Are you sure?'} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', game_path %>
</div>



<!--Calling the script for the star rating system-->
<script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>