
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div align="col-md-4">
        <%= image_tag @game.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><strong>Game Title:</strong></td>
              <td><%= @game.Game_Title %></td>
            </tr>
            <tr>
              <td><strong>Release date:</strong></td>
              <td><%= @game.Release_Date %></td>
            </tr>
            <tr>
              <td><strong>Description:</strong></td>
              <td><%= @game.Description %></td>
            </tr>
            <tr>
              <td><strong>Publisher:</strong></td>
              <td><%= @game.Publisher %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

