<%#= form_for([@game, review]) do |form| %>
<% if review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <div id="star-rating"></div>
</div>


<div class="form">
  <%= simple_form_for ([@game, review]) do |f| %>
    <%= f.input :comment, label: 'Review:' %>
    <%= f.input :hours_played, label: 'Hours Played:' %>
    <%= f.button :submit %>
  <% end %>
</div>

<script>
    $('#star-rating').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>