<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="navbar-fixed-bottom">
  <p>Application Created By Vladislavs Vasiljevs <br> 15493322</p>
  <p>
    <%= "Application Version #{AppVersion.instance().GetData()}" %>
  </p>
  <% if current_user && current_user.admin %>
    <p>Games : || Last Created : <%= @created %> || Last Updated : <%= @updated %> || Last Deleted : <%= @deleted %></p>
  <% end %>
  <% if current_user && !current_user.admin %>
    <p>Reviews : || Last Created : <%= @createdReview %> || Last Updated : <%= @updatedReview %> || Last Deleted
      : <%= @deletedReview %></p>
  <% end %>
  <% if current_user && current_user.admin %>
    <p>Reviews : || Last Updated : <%= @updatedReview %> || Last Deleted : <%= @deletedReview %></p>
  <% end %>
  <p>Copyright <%= "#{start_year} - " if defined? start_year %>
    <%=Date.today.year %></p>
</footer>